<div class="container">
  <div class="header">
    <h1 class="title">Pacientes</h1>
    <button class="btn-add " (click)="openModal()"><i class="bi bi-plus-lg plus-icon"></i> Paciente</button>
  </div>
  <div class="table-responsive table-container">
    <table class="table table-striped table-hover align-middle mt-3">
    <thead class="tabla-header-custom">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Antecedentes</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ paciente.nombre }}</td>
        <td>{{ paciente.edad }}</td>
        <td>{{ paciente.antecedentes }}</td>
        <td>
          <button class=" btn-sm btn-principal me-1" (click)="openModal(paciente)">Editar</button>
          <button class=" btn-sm btn-eliminar" (click)="deletePaciente(paciente.id!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  

  <!-- Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{ 'show d-block': modalVisible }"
    style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <form #pacienteForm="ngForm" (ngSubmit)="savePaciente()">
          <div class="modal-header">
            <h5 class="modal-title">{{ isEditing ? 'Editar Paciente' : 'Agregar Paciente' }}</h5>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" id="nombre" [(ngModel)]="selectedPaciente.nombre" name="nombre" class="form-control"
                required />
            </div>
            <div class="mb-3">
              <label for="edad" class="form-label">Edad</label>
              <input type="number" id="edad" [(ngModel)]="selectedPaciente.edad" name="edad" class="form-control"
                required />
            </div>
            <div class="mb-3">
              <label for="antecedentes" class="form-label">Historial Médico</label>
              <textarea id="antecedentes" [(ngModel)]="selectedPaciente.antecedentes" name="antecedentes"
                class="form-control" required ></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
              <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>