<nav>
  <div class="nav-brand"><i class="bi bi-heart-pulse-fill"></i>Gestión Médica</div>
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active"  ariaCurrentWhenActive="page">Inicio</a></li>
    <li><a routerLink="/pacientes" routerLinkActive="active" ariaCurrentWhenActive="page">Pacientes</a></li>
    <li><a routerLink="/citas" routerLinkActive="active" ariaCurrentWhenActive="page">Citas</a></li>
    <li><a routerLink="/medicos" routerLinkActive="active" ariaCurrentWhenActive="page">Médicos</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>